<mat-drawer-container class="drawer" autosize>
  <mat-drawer class="drawer__sidenav" #drawer mode="side"  opened>
    <shared-sidebar></shared-sidebar>
  </mat-drawer>
  <div class="drawer__contents">
    <div class="drawer__buttons">
      <button *ngIf="show ; else before" mat-icon-button (click)="open()" color="primary"
        ><mat-icon fontIcon="navigate_next"></mat-icon>
      </button>
      <ng-template #before>
        <button  mat-icon-button (click)="close()" color="primary" ><mat-icon
            fontIcon="navigate_before"></mat-icon>
        </button>
      </ng-template>
    </div>
    <div class="drawer__main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
