<mat-drawer-container class="drawer" autosize>
  <mat-drawer #drawer mode="side" class="drawer__sidenav">
    <shared-sidebar></shared-sidebar>
  </mat-drawer>
  <mat-drawer-content class="drawer__content">

    <div>
      <button *ngIf="show ; else before"  mat-icon-button (click)="open()"  color="primary" class="drawer__menu-open"><mat-icon
          fontIcon="navigate_next"></mat-icon>
      </button>
      <ng-template #before>
        <button mat-icon-button (click)="close()" color="primary" class="drawer__menu-open"><mat-icon
          fontIcon="navigate_before"></mat-icon>
      </button>
      </ng-template>
    </div>

    <div>
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-content>
</mat-drawer-container>
