.drawer{
  width: 100%;
}
.drawer__sidenav {
  background-color: #2A0070;
  color: white;
  padding: 20px;
}
.drawer__contents{
  position: relative;
  overflow: auto;
  height: 100vh;
  width: 100%;

}
.drawer__main-content {
  z-index: 20;
  padding: 20px 60px;
}
.drawer__buttons{
  position: sticky;
  top:50%;
  left: 5px;
  z-index: 100;
}


