<h2 class="capital__title">By capital</h2>
<!-- <shared-search-box [placeholder]="placeholder" (onValue)="searchCapital($event)" ></shared-search-box> -->
<shared-search-box [initialSearchTerm]="initialSearchTerm" [placeholder]="placeholder"
  (onDebounce)="searchCapital($event)"></shared-search-box>

<div class="capital__table">
  <shared-spinner *ngIf="isLoading ; else elseblock"></shared-spinner>
  <ng-template #elseblock><country-table [countries]="countries"></country-table></ng-template>
</div>

